:root {
  --body_background: #141414; /* 기본 배경색: 다크 모드 */
  --body_color: white;
  --heading_color: #ffe400; /* 기본 제목 색상: 다크 모드 */
}

[data-theme='light'] {
  --body_background: #ffffff; /* 라이트 모드 배경색 */
  --body_color: black;
  --heading_color: #000000; /* 라이트 모드 제목 색상 */
}

.App {
  text-align: center;
}

body {
  background-color: var(--body_background); /* CSS 변수 써서, 색깔이 따라가도록 설정함 */
  color: var(--body_color); 
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.movie-app > .row > div {
	width: fit-content;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

/* movie_list 배경색 설정 */
.movie_list {
  background-color: var(--body_background); /* CSS 변수 써서, 색깔이 따라가도록 설정함 */
  color: var(--body_color); 
}