.movie_list_header {
  padding: 10px 30px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.movie_list_heading {
  font-size: 26px;
  color: var(--heading_color);
}

/* 다크모드에서 "인기작품"의 색상을 #C4E1F6로 설정 */
[data-theme='dark'] .movie_list_heading {
  color: #C4E1F6;
}


.movie_filter {
  list-style: none;
  font-size: 16px;
}

.movie_filter_item {
  padding: 5px 10px;
  cursor: pointer;
  color: var(--body_color); /* 색상을 테마에 맞게 변경 */
}

.movie_filter_item.active {
  border-bottom: 1px solid #e6e6e6;
  font-weight: 500;
  color: var(--heading_color); /* 색상을 테마에 맞게 변경 */
}

.movie_sorting {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  height: 30px;
  padding: 0 5px;
  margin: 0 10px;
}

.movie_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
